.Page {
  background-color: #420039;
  min-width: 100%;
  padding-top: 50px;
  padding-bottom: 100px;
  width: 100%;
}

.Books {
  background-color: #420039;
  min-height: 100%;
  min-width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
  text-align: center;
}
